*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
}
/* header contianing the name of business with the help of js */
#business_name{
    padding: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    height: 1.5pc;
}
.welcome_message{
    display: flex;
    box-shadow: 1px 1px 3px 1px black;
    position: relative;
}

/* divs inside the first/second section */
.text{
    width: 50%;
}
/* the div containing text */
.message{
    font-size: 20px;
    font-family: Agency FB;
    padding-top: 90px;
    line-height: 3pc;
    padding-left: 20px;
}
/* span element containing the site name */
.site_name{
    color: #8d1d1d;
}
/* the upgrade to pro link */
.pro{
    text-decoration: none;
    color: rgb(200, 46, 46);
    border: 1px solid #ff260086;
    border-radius: 10px;
    padding: 10px;
}

/* second section contain9ng the main info like news, view record*/
.main_info{
    display: flex;
    padding: 10px;
}
/* divs inside the section */
.div_info{
    width: 48%;
    height: fit-content;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px brown;
    margin-left: 10px;
}

/* h2 element on the first/Second div */
.news_caption{
    font-family: Agency FB;
    text-align: center;
    padding: 10px;
}
/* div inside the first div containing two other dic=vs */
.div_info_cont{
    display: flex;
}

/* div inside the first and second containing only text */
.div_info_text{
    padding-top: 50px;
    padding-left: 20px;
    height: 150px;
}
/*  div inside the first and second containing only text  (second giving to this div in the second div) */
.market_text{
    padding-top: 60px;
}
.div_info_text > p{
    font-family: Agency FB;
    font-size: larger;
}

/* second name giving to the second div incase of individual  */
.market{
    height: 252px;
}

/* second section having only one div */
.section_two{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* only div in section two */
.business{
    height: fit-content;
}
/* last div before footer */
.forex{
    height: 275px;
}


/* bottom nav bar */
.bottom_nav_con{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    background-color: #8d1d1d;
    position: fixed;
    width: 50%;
    margin-left: 25%;
    margin-top: 43.5%;
    border-radius: 20px;
}
/* unordered list */
.bottom_nav_con_ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul_list{
   list-style: none;
    font-weight: 100;
    font-size: 20px;
    padding: 0px 30px;
}

.ul_list > a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-family: Agency FB;
}

/* footer container */
.footer_cont{
    display: flex;
}
